<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path 'v9x5h3d1fp9eukejaqz5' %>');">

  <div class="container">
    <h1>The best way for cocktails</h1>
    <br>
  </div>

</div>

<div class="container">
  <div class="index-container">
    <%= link_to "Add a new cocktail", new_cocktail_path, class:"new-cocktail" %>
    <div class="cards">
      <% @cocktails.each do |cocktail| %>
        <%= link_to cocktail_path(cocktail) do %>
          <div class="card">
            <div class="card-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_tag cocktail.photo %>')">
            </div>
            <!-- <h2> -->
                <span><%= cocktail.name %></span>
            <!-- </h2> -->
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>




