<h2><%= @cocktail.name %></h2>

  <% @cocktail.doses.each do |dose| %>
    <p><%= dose.ingredient.name %></p>
    <p><%= dose.description %></p>
  <% end %>


<%= link_to "Add a dose", new_cocktail_doses_path  %>


<%= link_to "Delete", cocktail_path(@cocktail),
      method: :delete,
      data: { confirm: "Are you sure?" } %>

<%= link_to "Go back to cocktails", cocktails_path %>
